# Archivos generados
HELP.md
target/
build/
.nb-gradle/
/dist/
/nbdist/

# Maven/Gradle
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos de configuración sensibles
application.properties
application.yml
*.env

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/

# VS Code
.vscode/

# Node.js (si aplica)
node_modules/
dist/

# Docker (si aplica)
*.docker
docker-compose.override.yml
